body, .btn {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 1.5;
}

body {
    color: #cfd2da;
    background-color: #252830;
}

[class*='col-'] {
    padding: 0px 5px !important;
}

.row {
    margin: 0;
}


.btn {
    border-radius: 2px !important;
    text-transform: uppercase;
}

.btn-default {
    color: #E6E6E6;
    background-color: #30343E;
    border-color: #30343E;
}

.btn-default {
    color: #E6E6E6;
    background-color: #30343E;
    border-color: #30343E;
}

.btn-default:hover, .btn-default:focus {
    color: #fff;
    background-color: #222631 !important;
    border-color: #222631 !important;
}

.btn-success {
    background: #1CAB29;
    border-color: green;
    color: #fff;
    text-transform: uppercase;
}

.btn-success:hover, .btn-success:focus {
    background: #1c8a25 !important;
    border-color: green !important;
}

nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 70px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #30343e;
    /*overflow-y: auto;*/
    /*-webkit-transform: translate3d(0, 0, 0);*/
}

nav li {
    margin-top: 0 !important;
}

nav li a {
    color: #cfd2da;
    font-size: 25px;
    text-align: center;
    border-top: 1px solid #252830;
}

nav li.active a {
    color: #4D5361;
    background-color: #252830;
}

nav li a:focus,
nav li a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #434857 !important;
}

.container-fluid {
    margin-left: 70px;
}

#loading {
    background: rgba(0, 0, 0, .7) url('../images/loading.gif') no-repeat center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}