body {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    /*line-height: 1.5;*/
}

.panel-body {
    padding: 0 !important;
}

.panel-heading {
    padding-bottom: 0 !important;
}

.panel {
    margin-bottom: 0 !important;
}

.btn {
    width: 150px;
}

.btn-success {
    background: #1CAB29;
    border-color: green;
    color: #fff;
    text-transform: uppercase;
}

.btn-success:hover {
    background: #1c8a25 !important;
    border-color: green !important;
}

.login {
    background-color: #1e2127;
    text-transform: uppercase;
}

.login .panel {
    background-color: #1e2127;
    color: #B5BBC7;
}

.login hr {
    border-top: 1px solid #2B2D31;
}

.login .register {
    color: #21D631;
}

.login .forgot-password {
    color: #3D414E;
    font-size: 12px;
}

.login input, .login .input-group-addon {
    background: #14161B;
    border-color: #22252D;
}

.login .panel-heading {
    padding-top: 20px;
}

.login .logo {
    width: 250px;
}

.login .btn-success {
    margin-top: 20px;
}