<form name="login" ng-submit="loginFormCtrlVm.submit()">
    <div class="form-group">
        <label>Desired Game Nick</label>
        <input type="text" ng-model="loginFormCtrlVm.nick" class="form-control" placeholder="Game Nick">
    </div>

    <div class="form-group" style="margin-bottom: 5px;">
        <label>CnCNet Forum Credentials</label>
        <div class="input-group">
            <div class="input-group-addon">
                <i class="fa fa-user"></i>
            </div>
            <input type="text" ng-model="loginFormCtrlVm.username" class="form-control" placeholder="Username">
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon">
                <i class="fa fa-key"></i>
            </div>
            <input type="password" ng-model="loginFormCtrlVm.password" class="form-control" placeholder="Password">
        </div>
    </div>

    <div class="form-group">
        <input type="submit" class="btn btn-primary center-block" value="Log In">
    </div>

    <div class="form-group">
        <div class="text-center">
            <a href="http://cnc-comm.com/community/index.php?action=reminder" target="_blank">
                Forgot Password?
            </a>
        </div>
    </div>
</form>